body {
  font: 16px/1.5em "Source Sans Pro", Helvetica, Arial, sans-serif;
    background: #fff;
  color: #232527;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  word-break: break-word;
  padding: 60px 0 120px 0;
}

h1 {
  font-size: 64px;
  font-weight: bold;
  letter-spacing: -0.05em;
  line-height: 1.25em;
}

h2 {
  font-size: 36px;
  font-weight: regular;
  letter-spacing: -0.05em;
  line-height: 1.25em;
  color:#9B9B9B;
}

#header {
  margin: 0 0 60px 0;
}

.bg-image {
  background-image: url('/images/drivy-bg-centered.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height: 450px;
  background-position: center;
}

p.quote {
  text-align:center;
  font-weight: 200;
  color: #4A4A4A;
  padding: 20px 0 20px 0;
  font-size: 22px;
}

#monclassement {
  margin: 60px 0 60px 0;
}

#monclassement h1 {
  font-size: 48px;
  margin: 0;
}

#monclassement h2 {
  font-size: 36px;
  margin: 0;
}

#link-hover a {
  color: #000;
}

#link-hover:hover {
  background-color: #eee;
  text-decoration: none;
}
