body {
  font: 16px/1.5em "Source Sans Pro", Helvetica, Arial, sans-serif;
    background: #fff;
  color: #232527;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  word-break: break-word;
  padding: 30px 0 60px 0;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -0.05em;
  line-height: 1.25em;
  margin: 10px 0 5px 0;
}

h2 {
  font-size: 26px;
  font-weight: regular;
  line-height: 1.25em;
  color:#9B9B9B;
  margin: 10px 0 5px 0;
}

.centered {
  text-align:center;
}

#header {
  margin: 0 0 60px 0;
}

@media (max-width: 992px) {
  #header {
    text-align: center;
  }

  #photo {
    margin-top: 30px;
  }
}

p.quote {
  text-align:center;
  font-weight: 200;
  color: #4A4A4A;
  padding: 20px 0 20px 0;
  font-size: 22px;
}

.feature {
  margin: 30px 0 30px 0;
}

.feature h1 {
  font-size: 40px;
  margin: 0;
}

.feature h2 {
  font-size: 24px;
  margin: 0;
}

@media (max-width: 992px) {
  .feature {
    text-align: center;
  }
}

#link-hover {
  margin-top: 40px;
}

#link-hover a {
  color: #000;
}

#link-hover:hover {
  background-color: #eee;
  text-decoration: none;
}
